<!-- post login tools -->
{% if not only_static %}


<li class="nav-item dropdown logged-in" id="website-post-login" data-label="website-post-login" style="display: block">
	<a href="#" class="nav-link" data-toggle="dropdown">
		<i class="fa fa-user" aria-hidden="true"></i>
	</a>
	{% if frappe.session.user != 'Guest' %}
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		{%- for child in post_login -%}
		{%- if child.url -%}
		<a class="dropdown-item" href="{{ child.url | abs_url }}" {{ child.target or '' }} rel="nofollow">
			{{ child.label }}
		</a>
		{%- endif -%}
		{%- endfor -%}
		<a class="dropdown-item switch-to-desk hidden" href="/desk">{{ _('Switch To Desk') }}</a>
	</ul>
	{% else %}
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		<a class="dropdown-item switch-to-desk" href="/login">{{ _('Login') }}</a>
		<a class="dropdown-item switch-to-desk" href="/login#signup">{{ _('Register') }}</a>
	</ul>
	{% endif %}
</li>

{% endif %}